.scrollable-strip {
    display: flex;
    overflow-x: scroll;

    gap: 23px;
}

.scrollable-strip::-webkit-scrollbar {
    display: none;
}


.scrollable img {
    overflow: hidden;
    border-radius: 18px;
    width: max(19vh, 190px);

}