

.shadow-for-strip {
    box-shadow: outset 10px 10px 10px black, inset 10px 10px 10px black;
    display: flex;
}
.shadow-for-strip::-webkit-scrollbar{
    display: none;
}

.outlineforcard{
    border-radius: 10px;
    padding: 2px;
    border-top:  2px solid var(--color);
    border-bottom:  2px solid var(--color);
}