.container-of-card {
    min-width: 25vw;
    max-height: 500px;
    border-radius: 10px;
    background: #c1c1c1;
    display: flex;
    flex-direction: column;
    margin: 2%;
    z-index: 1;
    overflow: hidden;
    box-shadow: 5px 9px 10px -1px grey, inset 7px 8px 11px -1px #8080802e;
    transition: all 0.5s;
    /* Add a smooth transition for the transform property */
}


.container-of-card {
    /* color: #fff; */
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 600px) {
    .container-of-card {
      min-width: 240px;
        font-size: 4vmin;
        /* scale: 80%; */
        height: 25rem;
        
    }
    .card-wrapper{
        width: 100%;
        overflow-x: visible;
        
    }
    .btn-for-slider{
        display: none;
    }
    .image{
        overflow: hidden;
    }
}

.image {
    height: 50%;
    width: 100%;
    display: flex;
    object-position: top;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s;
}

.image img {
    flex-shrink: 1;
    max-height: 100%;
    /*Ensure the image covers the entire container without distortion*/
    transition: transform 0.5s;
    /* add transition for smooth scaling */
    z-index: 4;
}

.container-of-card:hover .image {
    transform: scale(1.1);
    /* Scale the image on hover */
}

.content-of-card {
    height: 50%;
    line-height: 100%;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
}

.content-of-card .title {
    font-size: x-large;
    font-weight: 600;
    color: var(--color);
    border-bottom: 2px solid crimson;
}

.content-of-card button {
    padding: 5px 5px;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
    border-color: var(--color);
    background-color: rgba(255, 99, 71, 0);
    transition: all 0.4s;
}

.content-of-card button:hover {
    border-color: rgb(255, 255, 255);
    background-color: var(--color);
    box-shadow: inset 2px 2px 2px 0px white;
    border: 1px solid tomato;
}

@media screen and (max-width: 600px) {
    .container-of-card{
        max-width: 25%;
       
    }    
}